/* IMPORTS */
@font-face {
  font-family: "Press Start 2P";
  src: url("./fonts/PressStart2P.ttf");
}

*,
*::after,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Press Start 2P", cursive;
}

:root {
  /* Colors */
  --highlightColor: aqua;
  --overlayColor: rgba(223, 223, 223, 0.7);
  --backgroundColor: #f1d1a6;

  /* Overlay settings */
  --overlaySize: 92%;
  --overlayOffset: 4%;
}

body {
  image-rendering: pixelated;
  background-color: var(--backgroundColor);
}

#game-container {
  position: relative;
  height: 720px;
  aspect-ratio: 16 / 9;
  background-image: url("../graphics/background.png");
  transform-origin: top left;
}
#game-container::after {
  content: " ";
  background-image: url("../graphics/foreground.png");
  height: 57px;
  width: 1280px;
  position: absolute;
  left: 0;
  bottom: 0;
}

/* .soundContainer {
  position: absolute;
  top: -20px;
} */

/* --------------------------- menu state screen --------------------------- */
.menuContainer {
  position: absolute;
  width: 100%;
}

.menuContainer * {
  text-align: center;
}
.menuContainer h1 {
  margin-top: 50px;
}

#menuChoices {
  margin-top: 80px;
}

#menuChoices * {
  margin-top: 10px;
}

.chosen {
  color: var(--highlightColor);
}

/* ------------------------------- play state ------------------------------- */

.paddle {
  --x: 0;

  position: absolute;
  background-image: url("../graphics/paddle.png");
  bottom: 28px;
  left: calc(var(--x) * 1px);

  width: 200px;
  height: 42px;
}
.ball {
  --x: 0;
  --y: 0;

  position: absolute;
  background-image: url("../graphics/ball.png");
  top: calc(var(--y) * 1px);
  left: calc(var(--x) * 1px);

  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.healthContainer {
  position: absolute;
  top: 40px;
  left: 15px;
}
.health {
  background-image: url("../graphics/ball.png");
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: inline-block;
}

.scoreContainer {
  position: absolute;
  top: 15px;
  left: 15px;
}

.brick {
  --x: 0;
  --y: 0;
  --xPos: 0;
  --yPos: 0;

  position: absolute;
  background-image: url("../graphics/bricks.png");
  background-position: calc(var(--xPos) * 1px) calc(var(--yPos) * 1px);
  top: calc(var(--y) * 1px);
  left: calc(var(--x) * 1px);

  width: 40px;
  height: 40px;
}

.brickContainer {
  position: absolute;
  width: 1280px;
  height: 720px;
  top: 0;
  left: 0;
}
/* ------------------------------- pause state ------------------------------ */
.hide {
  visibility: hidden;
}
.pauseContainer {
  position: absolute;
  width: var(--overlaySize);
  height: var(--overlaySize);
  top: var(--overlayOffset);
  left: var(--overlayOffset);
  text-align: center;
  background-color: var(--overlayColor);
  z-index: 2;
}
.pauseContainer * {
  margin-top: 100px;
}

/* ----------------------------- game over state ---------------------------- */

.gameOverContainer {
  position: absolute;
  width: var(--overlaySize);
  height: var(--overlaySize);
  top: var(--overlayOffset);
  left: var(--overlayOffset);
  text-align: center;
  background-color: var(--overlayColor);
}

.gameOverContainer * {
  text-align: center;
}
.gameOverContainer h1 {
  margin-top: 50px;
}
