/* IMPORTS */
@font-face {
  font-family: "Press Start 2P";
  src: url("./fonts/PressStart2P.ttf");
}

*,
*::after,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Press Start 2P", cursive;
}

:root {
  /* Colors */
  --highlightColor: #ca6702;
  --overlayColor: rgba(223, 223, 223, 0.7);
  --backgroundColor: #f1d1a6;
  --textColor: #242424;

  /* Overlay settings */
  /* --overlaySize: 92%;
  --overlayOffset: 4%; */
  --overlaySize: 100%;
  --overlayOffset: 0%;
  /* fonts */
  --fontXS: 14px;
  --fontS: 20px;
  --fontM: 36px;
  --fontL: 48px;
  /* margins */
  --marginS: 10px;
  --marginMS: 20px;
  --marginM: 30px;
  --marginL: 100px;
}

body {
  height: 100vh;
  image-rendering: pixelated;
  background-color: var(--backgroundColor);
  color: var(--textColor);
}
p,
div {
  font-size: var(--fontS);
}

#game-container {
  position: relative;
  height: 720px;
  aspect-ratio: 16 / 9;
  background-image: url("../graphics/background.png");
  transform-origin: top left;
}
#game-container::after {
  content: " ";
  background-image: url("../graphics/foreground.png");
  height: 57px;
  width: 1280px;
  position: absolute;
  left: 0;
  bottom: 0;
}

/* --------------------------- menu state screen --------------------------- */
.menuContainer {
  position: absolute;
  width: 100%;
}

.menuContainer * {
  text-align: center;
}
.menuContainer h1 {
  margin-top: var(--marginL);
  font-size: var(--fontL);
}

#menuChoices {
  margin-top: var(--marginM);
}

#menuChoices * {
  margin-top: var(--marginS);
  font-size: var(--fontS);
}

.chosen {
  color: var(--highlightColor);
}

/* ------------------------------- play state ------------------------------- */

.paddle {
  --x: 0;

  position: absolute;
  background-image: url("../graphics/paddle.png");
  bottom: 28px;
  transform: translate(calc(var(--x) * 1px));

  width: 200px;
  height: 42px;
}
.ball {
  --x: 0;
  --y: 0;

  position: absolute;
  background-image: url("../graphics/ball.png");
  transform: translate(calc(var(--x) * 1px), calc(var(--y) * 1px));

  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.healthContainer {
  position: absolute;
  top: 620px;
  left: 15px;
}
.health {
  background-image: url("../graphics/ball.png");
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: inline-block;
}
.timeContainer {
  position: absolute;
  top: 690px;
  left: 15px;
}

.scoreContainer {
  position: absolute;
  top: 650px;
  left: 15px;
}

.brickContainer {
  position: absolute;
  width: 1280px;
  height: 720px;
  top: 0;
  left: 0;
}
.brick {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
}
.tile {
  width: 40px;
  height: 40px;
}
.pow {
  --y: 0;

  position: absolute;
  background-image: url("../graphics/pow.png");
  transform: translateY(calc(var(--y) * 1px));
}
/* ------------------------------- storyline ------------------------------ */
.storyContainer {
  position: absolute;
  width: 1000px;
  height: 431px;
  bottom: 100px;
  left: 140px;
  z-index: 5;

  background-image: url("../graphics/dialogbox.png");
}
#storyText {
  margin-top: 300px;
  margin-left: 15px;
  margin-right: 15px;
  line-height: 1.5;
  font-size: 14px;
}

/* ------------------------------- pause state ------------------------------ */
.hide {
  visibility: hidden;
}
.pauseContainer {
  position: absolute;
  width: var(--overlaySize);
  height: var(--overlaySize);
  top: var(--overlayOffset);
  left: var(--overlayOffset);
  text-align: center;
  background-color: var(--overlayColor);
  z-index: 6;
}
#pause h2 {
  margin-top: var(--marginL);
  font-size: var(--fontM);
}
#pauseMenuChoices {
  margin-top: var(--marginM);
}
#pauseMenuChoices * {
  margin-top: var(--marginS);
  font-size: var(--fontS);
}

/* ----------------------------- game over state ---------------------------- */

.gameOverContainer {
  position: absolute;
  width: var(--overlaySize);
  height: var(--overlaySize);
  top: var(--overlayOffset);
  left: var(--overlayOffset);
  text-align: center;
  /* background-color: var(--overlayColor); */
}

.gameOverContainer * {
  text-align: center;
  margin-top: var(--marginM);
  font-size: var(--fontS);
}
.gameOverContainer p {
  margin-left: 250px;
  margin-right: 250px;
}
.gameOverContainer h1 {
  margin-top: var(--marginL);
  font-size: var(--fontL);
}

/* ----------------------------- victory state ---------------------------- */

.victoryContainer {
  position: absolute;
  width: var(--overlaySize);
  height: var(--overlaySize);
  top: var(--overlayOffset);
  left: var(--overlayOffset);
  text-align: center;
  /* background-color: var(--overlayColor); */
}

.victoryContainer * {
  text-align: center;
  margin-top: var(--marginM);
}
.victoryContainer h1 {
  margin-top: var(--marginL);
}
/* ----------------------------- settings state ----------------------------- */
.settingsContainer {
  position: absolute;
  width: var(--overlaySize);
  height: var(--overlaySize);
  top: var(--overlayOffset);
  left: var(--overlayOffset);
  text-align: center;
}
.settingsContainer h1 {
  margin-top: 100px;
  font-size: var(--fontM);
}
#settingsChoices {
  margin-top: var(--marginM);
}
#settingsChoices * {
  margin-top: var(--marginS);
}
.controls {
  margin-top: var(--marginL);
}
.controlsContainer {
  margin-top: var(--marginM);
}
.controls h2 {
  font-size: var(--fontMS);
}
.controlsImg {
  display: inline-block;
  width: 220px;
  height: 270px;
  background-image: url("../graphics/controlls.png");
}
.controlsDesc {
  position: absolute;
  top: 375px;
  left: 485px;
}
.controlsDesc * {
  font-size: var(--fontXS);
}
.controlsDesc p:nth-child(2) {
  margin-bottom: 128px;
}
.controlsDesc p:nth-child(1) {
  margin-bottom: 78px;
}

.volumeControl::before {
  content: "🞀";
  position: absolute;
  height: 120%;
  left: 380px;
}
.volumeControl::after {
  content: "🞂";
  position: absolute;
  height: 120%;
  right: 380px;
}
.volume {
  position: relative;
}

/* ----------------------------- enter highscore ---------------------------- */
.enterHighscore {
  position: absolute;
  top: 320px;
  left: 485px;
}
#highscoreForm {
  text-align: center;
}

#highscoreForm input {
  display: block;
}
.enterHighscore p {
  font-size: var(--fontXS);
  margin-top: var(--marginM);
}
/* ----------------------------- highscore table ---------------------------- */
.highscoreContainer {
  position: absolute;
  width: var(--overlaySize);
  height: var(--overlaySize);
  top: var(--overlayOffset);
  left: var(--overlayOffset);
  text-align: center;
}
.highscoreContainer h2 {
  margin-top: var(--marginL);
  font-size: var(--fontL);
}

.highscoreContainer table {
  width: 550px;
  font-size: var(--fontS);
  margin: auto;
  margin-top: var(--marginM);
}
.highscoreContainer div {
  width: 550px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
.highscoreContainer div p {
  margin-top: var(--marginM);
  font-size: var(--fontXS);
}

#scoreTableBody {
  margin-top: var(--marginMS);
}
